.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:chartreuse
   
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}